{% extends 'base.html' %}

{% block content %}

<div class="informacion"><h1>Nosotros somos amantes del cannabis  donde compartimos un amor por el, de forma primordial</h1> 

<h2>Te dejamos un poco de informacion para que conozcas de este fantastico mundo</h2>
<hr>
<br>
<p>El cannabis (según la forma de presentación marihuana o hachís, entre otros muchos nombres), es una droga depresora del sistema nervioso.Contiene dentro de sus compuestos la molécula de THC o tetrahidrocannabinol, el cual es el compuesto psicoactivo o psicotrópico de la planta del cannabis, presente en sus variedades o cepas, siendo más de 2500, surgidas del cruce entre las subespecies s.sativa, s.índica y s.ruderalis seleccionadas para utilizarlas con fines recreativos y medicinales. En cambio en las variedades que se utilizan para producir cáñamo industrial generalmente contienen un nivel muy bajo de THC. De acuerdo con la Organización de las Naciones Unidas, se trata de la sustancia ilícita más utilizada en el mundo. La regulación legal del cannabis es diferente en cada país, y existen tanto detractores como defensores de su despenalización.</p>
<hr>
<br>
<strong>Algunos datos muy interesantes</strong>
<br>
<hr>
<p>l cannabis en su estado fresco contiene ácido tetrahidrocannabinólico, el cual luego se convierte en THC.El compuesto químico psicoactivo predominante en el cannabis es el tetrahidrocannabinol (THC). El cannabis contiene más de 500 compuestos químicos diferentes, entre ellos al menos 113 cannabinoides aparte del THC, tales como el cannabidiol (CBD), el cannabinol (CBN) o la tetrahidrocannabivarina (THCV), que tienen efectos distintos a los del THC, y también actúan en el sistema nervioso.11​ El -Hydroxy-THC se produce cuando el cannabis está cocinado, pero no cuando se fuma. El cannabis se utiliza a menudo por sus efectos físicos y psíquicos, entre los que destacan un cambio general en la percepción, euforia y un mejor estado de ánimo, el aumento del apetito y una sensación de estar bajo los efectos de la droga, «colocado» o «volado» en el lenguaje popular.
</p>
<p>Los efectos secundarios inmediatos incluyen la pérdida de la memoria a corto plazo, sequedad bucal, reducción de la capacidad motora, ojos rojos y sentimientos de paranoia o ansiedad. Los efectos a largo plazo pueden ser la adicción (en un 8% de los casos),18​19​ la disminución de ciertas habilidades cognitivas (en aquellos que comenzaron desde la adolescencia un consumo habitual) y problemas de comportamiento en niños cuyas madres consumieron cannabis durante el embarazo. Los efectos, que duran entre dos y seis horas, comienzan a los pocos minutos de su consumo cuando se fuma, mientras que cuando se cocina y come,20​ los efectos tardan entre 30 minutos y una hora en manifestarse y pueden durar hasta 8 horas</p>
</p> 


<iframe width="560" height="315" src="https://www.youtube.com/embed/K_uSRryQt0M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube.com/embed/fYPP_3Ig78o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube.com/embed/0ay8W-NGUWY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube.com/embed/H0AKbbKm2_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


{% endblock %}